/*shortcut*/
:root{
    --space-sm:5px;
    --space-md:10px;
    --space-sl:15px;
    --space-sxl:20px;
    --space-xxl:35px;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

li{
    list-style-type: none;
    display: inline;
}

li a{
    color: white;
    font-weight: bolder;
    font-size: large;
    padding: 0 15px;
    text-decoration: none;
}

.nav-row-middle ul{
    text-align: center;
    padding: var(--space-sm);
}
.dashed{
    border: 2px dashed black;
}

.center{
    text-align: center;
}

/*utility*/
.flex{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 70px; 
}

.nav-row-left{
    flex-basis: 15%;
    min-height: var(--space-xxl);
    padding: var(--space-sm);
}

.nav-row-middle{
    flex-basis: 40%;
    min-height: var(--space-xxl);
}

.nav-row-rigth{
    flex-basis: 15%;
    min-height: var(--space-xxl);
    text-align: right;
    padding: var(--space-sm);
}

.login{
    font-weight: bolder;
    background-color: white;
    border-radius: 20px;
    width: 70px;
    height: 40px;
    padding-top: 10px;
    display: inline-block;
}

.jumbotron{
    height: 500px;
}

.jumbotron-row{
    flex-basis: 50%;
    min-height: 80%;
    border-radius: 7px;  
}

.jumbo-title{
    color: white;
    font-size: 60px;
    padding: 40px 0;
    font-weight: bold;
}

.jumbo-content{
    color: white;
    font-size: 21px;
    font-weight: bold;
    line-height: 35px; 
    margin-bottom: 30px;
}
.button-left{
    display: inline-block;
    padding: 10px 40px;
    background-color: white;
    border-radius: 30px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.button-right{
    display: inline-block;
    padding: 13px 40px;
    color: white;
    background-color: #000000;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.chat-container{
    height: 600px;
    background-color:white;
}

.frog-img{
    flex-basis: 55%;
    min-height: 80%;
    padding-left: 100px;
}

.chat{
    flex-basis: 25%;
    min-height: 80%;
    padding-right: 40px;
    padding-top: 30px;
}

.chat-title{
    font-size: 50px;
}

.chat-description{
    padding-top: 20px;
    font-size: large;
    padding-right: 40px;
    line-height: 25px;
}

.wave{
    color: #f6f6f6;
    display: block;
}

.wave-upside-down{
    color: #f6f6f6;
    display: block;
    rotate: 180deg;
}

.party-container{
    height: 600px;
    background-color: #f6f6f6;
}

.magic-img{
    flex-basis: 45%;
    min-height: 80%;
    padding-left: 100px;
    
}

.party{
    flex-basis: 25%;
    min-height: 80%;
    padding-left: 40px;
    padding-top: 30px;
}

.party-title{
    font-size: 50px;;
}

.party-description{
    font-size: large;
    line-height: 25px;
    padding-top: 20px;
}

.channels-container{
    height: 600px;
    background-color:white
}

.genie-img{
    flex-basis: 55%;
    min-height: 80%;
    padding-left: 100px;
}

.channels{
    flex-basis: 25%;
    min-height: 80%;
    padding-right: 40px;
    padding-top: 30px;
}

.channels-title{
    font-size: 50px;
}

.channels-description{
    padding-top: 20px;
    font-size: large;
    padding-right: 40px;
    line-height: 25px;
}

.device-container{
    height: 1200px;
    background-color: #f6f6f6;
}

.device{
    flex-basis: 70%;
}

.device-title{
    font-size: 50px;
}

.device-description{
    padding-top: 20px;
    font-size: large;
    padding: 20px 135px;
    line-height: 25px;
}

.device-img{
    display: inline-block;
    padding-left: 20px;
    height: 700px;
}

.device-download-text{
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    display: inline-block;
    margin-left: 350px;
    padding-top: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.device-download{
    margin-top: 20px;
    padding: 10px 40px;
    display: inline-block;
    background-color: #8ea1e1;
    border-radius: 30px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 460px;
    color: white;
}

.toolbar-container{
    height: 500px;
    background-color: #23272a;
}

.toolbar{
    flex-basis: 30%;
    min-height: 90%;
    margin-bottom: var(--space-sl);
    padding: 50px 100px; 
}

.toolbar-title{
    color: #7289da;
    font-size: 35px;
}

.language{
    margin-top: 15px;
    color: white;
}

.italy{
    height: 20px;
    vertical-align: middle;
}

.small-logos{
    margin-top: 15px;
}

.small-logos > *{
    padding-right: 10px;
}

.toolbar-service{
    flex-basis: 15%;
    min-height: 90%;
    margin-bottom: var(--space-sl);
    padding-top: 50px;
    padding-left: 10px;
}

.toolbar-list{
    line-height: 35px;
    font-size: 20px;
    color: white;
}

.service-title{
    color: #7188d8;
}

.line-separator{
    margin: 0 155px;
    height: 2px;
    background-color:#414c6e;
    
}

footer{
    background-color: #23272a;
    padding-bottom: 90px;
}

.banner{
    margin-top: 20px;
}

.banner-container{
    flex-basis: 80%;
    min-height: 75%;
    margin-top: 15px;
    justify-content: space-between;
}

.button{
    background-color: #8ea1e1;
    border-radius: 30px;
    font-size: var(--space-sxl);
    padding: 10px 15px;
    color: white;
}