/*shortcut*/
:root{
    --space-sm:5px;
    --space-md:10px;
    --space-sl:15px;
    --space-sxl:20px;
    --space-xxl:35px;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: 'Roboto', sans-serif;;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


li{
    list-style-type: none;
    display: inline;
}

li a{
    color: white;
    font-weight: bolder;
    font-size: large;
    padding: 0 15px;
    text-decoration: none;
}

ul{
    text-align: center;
    padding: var(--space-sm);
}
.dashed{
    border: 2px dashed black;
}

.center{
    text-align: center;
}

/*utility*/
.flex{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 70px; 
}

.nav-row-left{
    flex-basis: 15%;
    min-height: var(--space-xxl);
    padding: var(--space-sm);
}

.nav-row-middle{
    flex-basis: 40%;
    min-height: var(--space-xxl);
}

.nav-row-rigth{
    flex-basis: 15%;
    min-height: var(--space-xxl);
    text-align: right;
    padding: var(--space-sm);
}

.login{
    font-weight: bolder;
    background-color: white;
    border-radius: 20px;
    width: 70px;
    height: 40px;
    padding-top: 10px;
    display: inline-block;
}

.jumbotron{
    height: 500px;
}

.jumbotron-row{
    flex-basis: 50%;
    min-height: 80%;
    border-radius: 7px;  
}

.jumbo-title{
    color: white;
    font-size: 60px;
    padding: 40px 0;
    font-weight: bold;
}

.jumbo-content{
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 35px; 
    margin-bottom: 30px;
}
.button-left{
    display: inline-block;
    padding: 10px 40px;
    background-color: white;
    border-radius: 30px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}


.button-right{
    display: inline-block;
    padding: 13px 40px;
    color: white;
    background-color: #000000;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.white-container{
    height: 500px;
    background-color:white;
}

.blue-row{
    flex-basis: 35%;
    min-height: 80%;
    background-color: #1e90ff;
    border: 2px dashed black;
}

.flesh-row{
    flex-basis: 25%;
    min-height: 80%;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

.lightgrey-container{
    height: 500px;
    background-color: lightgray;
}

.green-row{
    flex-basis: 60%;
    min-height: 90%;
    background-color: #228b22;
    border: 2px dashed black;
}

.grey-container{
    height: 900px;
    background-color: lightgray;
}

.black-container{
    height: 500px;
    background-color: #000000;
}

.lightpink-row{
    flex-basis: 20%;
    min-height: 90%;
    background-color: #f08080;
    border: 2px dashed black;
    margin-bottom: var(--space-sl);
}

.lightblue-row{
    flex-basis: 10%;
    min-height: 90%;
    background-color: #20b2aa;
    border: 2px dashed white;
    margin-bottom: var(--space-sl);
}

.line-separator{
    height: 1px;
    border: 1px solid white;
}

.banner{
    background-color: black;
    height: 70px;
}

.aquamarine-row{
    flex-basis: 60%;
    min-height: 75%;
    background-color: #7fffd4;
    margin-top: 15px;
    justify-content: space-between;
}

.logo{
    background-color: #ffb6c1;
    border: 2px dashed black;
    font-size: var(--space-sxl);
    padding: 2px 2px;
}

.button{
    background-color: #ffb6c1;
    border: 2px dashed black;
    font-size: var(--space-sxl);
    padding: 2px 2px;
}